<div class="card">
  <div class="card-header">
    <div class="text-success">
      <fa-icon [icon]="faUser"></fa-icon> Active Users
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="users">
      <div>
        <app-pagination [noOfRecords]="users.length" [noOfRecordsPerPage]="4" (UpdateIndex)="updateIndex($event)">
        </app-pagination>
      </div>
      <div>
        <app-table [data]="users" [startIndex]="startIndex" [endIndex]="endIndex">
        </app-table>
      </div>
    </div>
  </div>
</div>